*{
    padding: 0;
    margin: 0;
}
body{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/514/716/58/full-moon-dark-mountains-wallpaper-preview.jpg');
    background-attachment: fixed;
    background-size: 100vw 100vh;
   
}
header{
    width: 100vw;
    height: 8vw;
    background-image: url('https://media.istockphoto.com/photos/the-night-of-mountain-picture-id1057796806?b=1&k=20&m=1057796806&s=170667a&w=0&h=Tc7JRlc6JUbQUkkgq2XiqUceUtugFxNXZSuQdoueBUA=');
    background-size: 100vw 8vw;
    background-repeat: no-repeat;
}
ul{
    display: flex;
    font-size: 30px;
}
li a{
    text-decoration: none;
    margin-left: 12vw;
    margin-bottom: 5vh;
    color: white;
    font-family: 'Water Brush', cursive;
}
li{
    margin-top: 5vh;
    list-style: none;
}
h1{
    color: aliceblue;
    font-family: 'Water Brush', cursive;
    font-size: 5vh;  
    display: inline-block;
    padding: 3vh;
}
h2{
    margin-left: 2vw;
}
#more1 {
    display: none;
}
#myBtn1{
    margin: 1vh 30% 2vh 70%;
    width: 9vw;
    height: 5vh;
    border-radius: 20px;
    font-weight: 800;
    color: azure;
    background-color: rgb(59, 216, 19); 
}
.ChApTeR1{
    width: 70vw;
    color: black;
    font-family: 'Water Brush', cursive;
    background-color: white;
    border-radius: 40px;
    border: 5px solid rgb(233, 6, 6);
    margin: 4vh 3vw 0vh 15vw;
    border-radius: 5px solid red;
}
.gifs4{
    width: 30vw;
    height: 50vh;
}
p{
    padding: 1vw;
}
